
.mt40{
    margin-top: 40px;
}
.mb40{
    margin-bottom: 40px;
}

.page{
    color: #686868;
    text-align: center;
}

.page .pointColor{
    color: #454444;
}

.header-title img {
    width: 100%;
    height: auto;
}

.page [class^='text'] span,
.page [class*='text'] span{
    display: block;
    font-size: 14px;
    line-height: 2;
    margin-left: 5px;
    margin-right: 5px;
}

.page .text1{

}

.page .cake-maker img{
    width: 100%;
    height: auto;
    margin: 10px 0px;
}
